<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="assets/img/logo.png" alt=""></a>
                    </div>

                    <p>Trendora – Where style meets trend, shop the latest fashion effortlessly!</p>
                    <div class="footer__payment">
                        <a href="#"><img src="assets/img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="assets/img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="assets/img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="assets/img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="assets/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li ><a href="#">About</a></li>
                        <li ><a routerLink="/catalogue">Catalogue</a></li>
                        <li><a routerLink="/product-details">Product Details </a></li>
                        <li><a href="#">Shop Cart</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a routerLink="/login">Login</a></li>
                        <li><a routerLink="/register">Register</a></li>
                        <li><a routerLink="/profile">Profile Info</a></li>
                        <li><a routerLink="/user/:id">User Details</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <section class="section newsletter">
                        <div class="container">
                
                          <div class="newsletter-card" style="background-image: url('./assets/images/newsletter-bg.png')">
                
                            <h2 class="card-title">Subscribe Newsletter</h2>
                
                            <p class="card-text">
                              Enter your email below to be the first to know about new collections and product launches.
                            </p>
                
                            <form action="" class="card-form">
                
                              <div class="input-wrapper">
                                <ion-icon name="mail-outline"></ion-icon>
                
                                <input type="email" name="emal" placeholder="Enter your email" required class="input-field">
                              </div>
                
                              <button type="submit" class="btn btn-primary w-10" (click)="onsubmit">
                                <span>Subscribe</span>
                
                                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                              </button>
                
                            </form>
                
                          </div>
                
                        </div>
                      </section>
                
                    <div class="footer__social">
                        <a href="www.facebook.tn"><i class="fa fa-facebook"></i></a>
                        <a href="www.twitter.tn"><i class="fa fa-twitter"></i></a>
                        <a href="www.youtube.tn"><i class="fa fa-youtube-play"></i></a>
                        <a href="www.instagram.tn"><i class="fa fa-instagram"></i></a>
                        <a href="www.printerest.tn"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright__text">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->


