body{
    margin: -10px;
    padding: 100px;
    background: #f5eadf; /* Beige clair avec une touche plus neutre */
}
h2{
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding-left: 5%;
    color: #6e5039;
    font-style: italic;
    display: center;
    text-align: left;
}
.user-form {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d3a588;
    border-radius: 5px;
    background: #e3d5c6;
  }

  .products-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .products-list th, .products-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .user-form label {
    display: block;
    margin-bottom: 10px;
  }

  .user-form input {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    padding: 10px 15px;
    background-color: #6e5039;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #baa89c;
  }
    .order-list {
      max-width: 90%;
      margin: 0 auto;
      padding: 20px;
      border-radius: 5px;
    }



    .user-form label,
    .order-list h4 {
      display: block;
      margin-bottom: 10px;
    }



    .user-form input,
    .order-list h4 {
      width: 97%;
      padding: 8px;
      margin-top: 5px;
      margin-bottom: 15px;
      border-radius: 4px;
    }
        .products-list table {
          width: 100%;
          border-collapse: collapse;
          margin-bottom: 20px;
        }

        .products-list th,
        .products-list td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }
