<body>
  <h2>Your Order</h2>
    <div class="order-list">
        <table>
            <thead>
                <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tr *ngFor="let product of selectedProducts">
            <td>{{ product.name }}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity * product.price}} DT</td>
        </tr>
    </table>
    <h4>Total : {{ calculateTotal() }} DT</h4>
    </div>
<h2>User Information</h2>
<div class="user-form">
<form [formGroup] = "OrderForm" (ngSubmit)="submitOrder()">
<label>
    Name:
    <input type="text" formControlName = "name"/>
</label>
<label>
    Last Name :
    <input type="text" formControlName = "lastName" />
</label>
<label>
    Email :
    <input type="email" formControlName = "email"/>
</label>
<label>
    Phone :
    <input type="text" formControlName = "phone"/>
</label>
<label>
    Address :
    <input type="text" formControlName = "address"/>
</label>
<button [disabled]="!OrderForm.valid">Submit Order</button>
</form>
</div>
</body>
