<router-outlet></router-outlet>


<app-header></app-header>

<router-outlet></router-outlet>


<app-footer></app-footer>

















<!-- <div>
    <button class="btn-magnifique" (click)="goToLogin()">Login</button>
    <button class="btn-magnifique" (click)="goToRegister()">Register</button>
    <button class="btn-magnifique" (click)="goToCatalogue()">catalogue</button>

    <button class="btn-magnifique" (click)="logout()">Logout</button>
    <button class="btn-magnifique" (click)="goToProfile()">Information</button>
    <button class="btn-magnifique" (click)="goToUser()">UserDetail</button>
    <button class="btn-magnifique" (click)="goToCart()">Cart</button>

</div> -->




