<div *ngIf="product">
        <h2>Customer Details</h2>
        <p><strong>Id:</strong> {{ product.id }}</p>
        <p><strong>Title:</strong> {{ product.title }}</p>
        <p><strong>Price:</strong> {{ product.price }}</p>
        <p><strong>Category:</strong> {{ product.category }}</p>
        <p><strong>Description:</strong> {{ product.description }}</p>
        <p>
          <strong>Image:</strong>
          <img [src]="product.image" alt="{{ product.title }}" width="100" />
        </p>
        <p><strong>Rating:</strong> {{ product.rating.rate }} ({{ product.rating.count }})</p>


</div>

<router-outlet></router-outlet>



<!--<div *ngIf="customer">
        <h2>Customer Details</h2>
        <p><strong>Id:</strong> {{ customer.id }}</p>
        <p><strong>Title:</strong> {{ customer.title }}</p>
        <p><strong>Price:</strong> {{ customer.price }}</p>
        <p><strong>Category:</strong> {{ customer.category }}</p>
        <p><strong>Description:</strong> {{ customer.description }}</p>
        <p>
          <strong>Image:</strong>
          <img [src]="customer.image" alt="{{ customer.title }}" width="100" />
        </p>
        <p><strong>Rating:</strong> {{ customer.rating.rate }} ({{ customer.rating.count }})</p>
</div>
<router-outlet></router-outlet>-->
